.subContainerBottom hr{
  width: 100%;
  margin-left: 0;
  height: 1px;
  border: 0;
}

.subContainerBottom p{
  padding-left: 2vh;
}

.socialN{
  height: 30px;
  border-radius: 5px;
}

.bottomContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 4vh;
  padding-right: 4vh;
  padding-top: 1.5vh;
  padding-bottom: 1vh;
}
